.app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  background: #fff;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "DM Sans";
}
::-webkit-scrollbar {
  display: none;
}
